{% extends 'layout.html.twig' %}
{% block contenue %}
    <!--Acceuil Section-->
    <section class="section-wrapper" id="acceuil">

    </section>
    <!--End Acceuil Section-->


    <!--Presentation Section-->
    <section class="section-wrapper" id="presentation">


    </section>
    <!--End Presentation Section-->

    <!--just trying-->
            <div class="row">
        <div class="embed-responsive embed-responsive-16by9 ">

            <video autoplay loop muted  style="z-index: -1;">
                <source src="{{ asset("videos/videointro.mp4") }}" type="video/mp4">
            </video>

            <div  class="row Conttext " style="z-index: 10;position: absolute; top:60% ; left:40%;border: 0.5px;">
                <h1 style="color: white;">Société MAM</h1>
                <!--<p class="text">Société MAM</p>-->²
            </div>
        </div>

    </div>
    <!--End try-->



    <!--Projets Section-->
    <section class="section-wrapper" id="projects">
        <!--  Title -->
        <div class="page-title">
            <h2> Nos Projets</h2>
        </div>
        <!-- End  Title -->

        <div class="d-flex justify-content-evenly" id="product-project-index">
            <div class="p-2 bd-highlight card" style="width: 18rem;">
                <img src="{{ asset("images/projects/project1.jpg") }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card with stretched link</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
                </div>
            </div>
            <div class="p-2 bd-highlight card" style="width: 18rem;">
                <img src="{{ asset("images/projects/project1.jpg") }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card with stretched link</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
                </div>
            </div>
            <div class="p-2 bd-highlight card" style="width: 18rem;">
                <img src="{{ asset("images/projects/project1.jpg") }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card with stretched link</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
                </div>
            </div>
        </div>
        <!--  See more -->
        <div class="see-more">
            <button type="button" class="btn btn-outline-primary">Afficher plus</button>
        </div>
        <!-- End see more -->

    </section>
    <!--End Projet Section-->

    <!--Produits Section-->
    <section class="section-wrapper" id="produits">
        <!--  Title -->
        <div class="page-title">
            <h2> Nos Produits</h2>
        </div>

        <!-- End  Title -->
        <div class="d-flex justify-content-evenly" id="product-project-index">
            <div class="p-2 bd-highlight card" style="width: 18rem;">
                <img src="{{ asset("images/products/coulissant.jpg") }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card with stretched link</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
                </div>
            </div>
            <div class="p-2 bd-highlight card" style="width: 18rem;">
                <img src="{{ asset("images/products/coulissant.jpg") }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card with stretched link</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
                </div>
            </div>
            <div class="p-2 bd-highlight card" style="width: 18rem;">
                <img src="{{ asset("images/products/coulissant.jpg") }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card with stretched link</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
                </div>
            </div>
            <div class="p-2 bd-highlight card" style="width: 18rem;">
                <img src="{{ asset("images/products/coulissant.jpg") }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card with stretched link</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
                </div>
            </div>
        </div>
        <!--  See more -->
        <div class="d-grid gap-2 col-md-6 mx-auto">
            <button type="button" class="btn btn-outline-primary">Afficher plus</button>
        </div>
        <!-- End see more -->

    </section>
    <!--End Produits Section-->

{% endblock  %}








