{% extends 'project/administrateur_layout.twig' %}

{% block title %}Project{% endblock %}

{% block contenue %}
    {{ parent() }}
<div class="col">
    <div class="main">

        <h1>Project</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Nom_projet</th>
                <td>{{ project.nomProjet }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.description }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('project_index') }}">back to list</a>

        <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>

        {{ include('project/_delete_form.html.twig') }}
    </div>
    </div>
    </div>
    <br>
{% endblock %}

